*{
    margin: 0;
    padding: 0;
}

@keyframes remove {

    from{left: 0%;}
    to{left: -1500px;}
}

@keyframes menu{
    0%{width: 0%; height: 0%;}
    100%{width: 60%; height: 60%;}
}

@keyframes menuoff{
    0%{width: 60%; height: 60%;}
    100%{width: 0%; height: 0%;}
}

body{
    width: 100%;
    height: 100%;
    background-color: #272727;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    margin-top: 7%;
    color: white;
    font-size: 60px;
}

.app{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-nt{
    width: 50%;
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

        .container-nt p{
            color: rgba(255, 255, 255, 0.623);
            font-family: Arial, Helvetica, sans-serif;
            
        }

        #novaTarefa{
            width: 45%;
            text-align: center;
            color: #636e72;
            background-color: white;
            font-size: 20px;
            border: none;
            outline: none;
            margin-bottom: 7px;
            border: 1px solid rgba(255, 255, 255, 0.623);
            padding: 10px;
            border-radius: 10px;

            transition: .7s;
        }

        #novaTarefa:hover{
            transition: .7s;
            color: #636e72;
            background-color: white;
        }

        #add{
            width: 100%;
            height: 40px;

            font-size: 40px;
            color: white;
            background-color: transparent;

            outline: none;
            border: none;
            cursor: pointer;
        }

        label{
          cursor: pointer;
        }

        .bx{
            width: 100%;
            height: 100%;
        }

#bloco{
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

    .lista{
        width: 500px;
        height: 50px;
        font-size: 18px;
        background-color: #f1f1f191;
        position: relative;
        display: flex;
        align-items: center;
        gap: 25px;
        color: #474949 ;
        border-radius: 10px;
        margin-bottom: 5px;
        padding: 5px;
        transition: .5s;
    }

    .lista:hover{
        padding: 10px;
        transition: .5s;
    }

    .lista input[type='checkbox']{
        display: none;
    }

    #detalhes{
        display: none;
        z-index: 1000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 60%;
        border-radius: 15px;
        background: rgba(182, 181, 181, 0.986);
        /* backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); */

        -webkit-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.84);
        -moz-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.84);
        box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.84);
        transition: 1s;
            }

    .on{
        display: block;
    }
    .off{
        display: none;
    }
    .formatacao{
        /* padding: 10px; */
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #272727;
        gap: 20px;
    }

    .formatacao button{
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: .5s;
    }
   
     .formatacao button:hover{
         transition: .5s;
         position: relative;
        padding: 20px;
    } 

    #janela{
        background-color: #272727;
        width:100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-weight: 700;
    }


    #janela span{
        margin:15px;
        cursor: pointer;
    }
    .texto{
        width: 100%;
        height: 400px;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .texto textarea{
        margin-top: 15px;
        width: 95%;
        height: 280px;
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
        color: #272727;
        outline: none;
        border: none;
        background-color: transparent;
    }
    
   
    .box-none{
        display: none;
    }

    .box-flex{
        display: flex;
    }

    .btns{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100px;
        right: 0;
        gap: 15px;
    }

    .btns box-icon{
        cursor: pointer;
    }